.title{
    height: 100px;
    width: auto;
}

.button{
    width: 75px;
    margin: 10px;
}

body {
    padding: 30px;
	background: #f46b45; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f46b45, #eea849); /* 	Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f46b45, #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#pokemon{
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin: 20px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.poke{
    height: 280px;
    width: 280px;
}

#next{
    transform: scaleX(-1);
}